<h1>Update Maker:{{maker.login}},{{maker.name}}</h1>
<p>更新maker</p>
<form method="post" action="/makers/{{maker.id}}/update">
<ul>
  <li>
    密码:<input name="password" value="" type="password"/>
  </li>
  <li>
    密码确认:<input name="password-repeat" value="" type="password"/>
  </li>
  <li>
    名字:<input name="name" value="{{maker.name}}"/>
  </li>
  <li>
    简介:<textarea name="about" >{{maker.about}}</textarea>
  </li>
</ul>
<button>提交</button>
</form>
