<h1>Update Maker:{{maker.login}},{{maker.name}}</h1>
<p>更新maker</p>
<form method="post" action="/makers/{{maker.id}}/update">
<ul>
  <li>
    密码:<input name="password" value="" type="password"/>
  </li>
  <li>
    密码确认:<input name="password-repeat" value="" type="password"/>
  </li>
  <li>
    名字:<input name="name" value="{{maker.name}}"/>
  </li>
  <li>
    性别:<select name="sex">
      <option value="男">男</option>
      <option value="女">女</option>
    </select>
  </li>
  <li>
    证件号(学号或者身份证号):<input name="idcard" value="{{maker.sex}}"/>
  </li>

  <li>
    手机号码:<input name="mobile" value="{{maker.mobile}}"/>
  </li>

  <li>
    qq号码:<input name="qq" value="{{maker.qq}}"/>
  </li>

  <li>
    专业领域:<input name="profield" value="{{maker.profield}}"/>
  </li>

  <li>
    rfid:<input name="rfid" value="{{maker.rfid}}"/>
  </li>
  <li>
    简介:<textarea name="about" >{{maker.about}}</textarea>
  </li>
</ul>
<button>提交</button>
</form>
